.home-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
}

.net-worth {
  margin-top: 78px;
  grid-column: 9/13;
}

.net-worth p {
  font-size: 25px;
  font-weight: bold;
}
