.navbar {
  background-color: #1da4c5;
}

.navbar-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}

.logo {
  margin-left: 30px;
}

.button {
  margin-right: 20px;
}

.icon-button {
  border: none;
  background-color: #1da4c5;
  transition: 0.3s;
  color: white;
}

.icon-button:hover {
  color: black;
}

.logout-btn-href {
  justify-self: flex-end;
  margin-right: 30px;
}

.user-dialog {
  font-size: 25px;
  font-weight: bold;
  width: 30rem;
  flex-wrap: nowrap;
}

.user-dialog p {
  margin-bottom: 0;
  color: white;
}
